* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}

.h1-container {
	text-align: left;
	padding: 1.5%;
	font-size: 2.5em;
}

.h1-container h1 a {
	color: #fcfcfc;
	text-shadow: -3px 3px 11px rgba(34, 0, 0, 0.74);
}

.toggle-hamburger{
/*	display: flex;*/
	flex-direction: column;
	height: 20px;
	width: 30px;
	justify-content: space-between;
}

.toggle-hamburger .hamburger-bar {
	height: 10px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.nav-container {
	display: flex;
	margin-left: 20%;
	margin-right: 20%;
/*	justify-content: space-between;*/
}

nav {
	font-size: large;
	background-color: #3d3d3d;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	padding: 1%;
	text-align: center;
	margin: auto;
}

nav ul li a {
	text-shadow: -1px 1px 11px rgba(34, 0, 0, 0.74);
	color: #ededed;
	transition: color 0.3s;
}

nav ul li a:hover {
	color: white;
}

body {
/*	background-color: #231924;*/
}

/*.page-content {
	margin: 2% 10%;
	color: #f7f7f7;
	background-color: #3c3c3d;
	border-radius: 5px;
	padding: 1%;
}*/

input {
	color: black;
}

footer {
	background-color: #1c1c1c;
	color: #bababa;
}

footer ul {
	display: flex;
	justify-content: space-between;
	padding: 1%;
	margin-left: 20%;
	margin-right: 20%;
}

footer ul li {
	list-style-type: none;
}

footer ul li a {
	color: white;
}

.content-container {
	display: flex;
	color: black;
}

.flex-element-1 {
	flex: 1;
}

.flex-element-2 {
	flex: 2;
}

.flex-element-3 {
	flex: 3;
}

.flex-element-4 {
	flex: 4;
}

.flex-element-6 {
	flex: 6;
}

.stock-info {
	background-color: #212224;
	color: white;
	padding: 0.2%;
	overflow: hidden;
	max-width: 100%;
}

.marquee-container {
	white-space: nowrap;
  	overflow: hidden;
  	display: inline-block;
  	transform:translateX(100%);
  	animation: marquee 20s linear infinite;
}

.marquee-container-2 {
	animation-delay: 10s;
}

.stock-text {
	display: inline-block;
	color: white;
}

@keyframes marquee {
	0% {
		transform: translateX(100%); 		
	}
	100% {
	 	transform: translateX(-100%); 
	}
}

.top-story, .recent-article, .donate-banner, .post-article , .element{
	background-color: #f2f2f2;
	margin: 2% 5%;
	border-radius: 2px;
	padding: 1%;
	border-top-style: solid;
	border-width: 3px;
	border-color: #858585;
}

.donate-banner, .element{
	margin-top: 0;
}

.select-content-type {
	background-color: #3c3c3d;
	margin: 2% 0% 2% 5%;
	border-radius: 5px;
	padding: 1%;
}

.top-story {
	margin-right: 2%;
}

.top-story-content {
	display: flex;
}

.top-story-img{
	text-align: left;
	margin: 1%;
}

.recent-article {
	margin-left: 0%;
}

.donate-banner {
	margin-top: 0;
}

.donate-banner a {
	color: #f7f7f7;
}

.recent-article-dotted {
	border-top:1px dotted #f7f7f7;
}

.margin-left-right-auto {
	margin-left: auto;
	margin-right: auto;
}