* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #f7f7f7;
	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-family: 'Fira Code', monospace;
	font-family: 'Lato', sans-serif;
}

.h1-container {
	background: #232526;
	background: -webkit-linear-gradient(to right, #232526, #414345);
	background: linear-gradient(to right, #232526, #414345);
	text-align: center;
	padding: 1%;
}

.h1-container h1 a {
	color: #ededed;
}

.nav-container {
	display: flex;
	margin-left: 20%;
	margin-right: 20%;
}

nav {
	background-image: linear-gradient( 109.6deg,  rgba(20,30,48,1) 11.2%, rgba(36,59,85,1) 91.1% );
	font-size: large;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: white;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	padding: 1%;
	text-align: center;
}

nav ul li a {
	/*text-shadow: 1px 1px 2px black;*/
	color: #bababa;
	transition: color 0.3s;
}

nav ul li a:hover {
	color: #f7f7f7;
}

body {
	background-color: #252426;
}

/*.page-content {
	margin: 2% 10%;
	color: #f7f7f7;
	background-color: #3c3c3d;
	border-radius: 5px;
	padding: 1%;
}*/

input {
	color: black;
}

footer {
	background-color: #1c1c1c;
	color: #bababa;
}

footer ul li {
	list-style-type: none;
}

.content-container {
	display: flex;
}

.flex-element-1 {
	flex: 1;
}

.flex-element-2 {
	flex: 2;
}

.flex-element-3 {
	flex: 3;
}

.flex-element-4 {
	flex: 4;
}

.flex-element-6 {
	flex: 6;
}

.top-story, .recent-article, .donate-banner, .post-article {
	background-color: #3c3c3d;
	margin: 2% 5%;
	border-radius: 5px;
	padding: 1%;
}

.top-story {
	margin-right: 2%;
}

.recent-article {
	margin-left: 0%;
}

.donate-banner {
	margin-top: 0;
}

.donate-banner a {
	color: #f7f7f7;
}

.recent-article-dotted {
	border-top:1px dotted #f7f7f7;
}

.margin-left-right-auto {
	margin-left: auto;
	margin-right: auto;
}